# Enable MPU
CONFIG_ARM_MPU=y

# Enable TrustZone-M
CONFIG_ARM_TRUSTZONE_M=y

# This Board implies building Non-Secure firmware
CONFIG_TRUSTED_EXECUTION_NONSECURE=y

CONFIG_I2C=y
CONFIG_I2C_SHELL=y
CONFIG_SPI=y

CONFIG_SSD16XX=y
CONFIG_AMS_AS5600=y

CONFIG_MFD_NPM13XX=y
CONFIG_LED_NPM13XX=y
