# Enable MPU
CONFIG_ARM_MPU=y

# Enable TrustZone-M
CONFIG_ARM_TRUSTZONE_M=y

# This Board implies building Non-Secure firmware
CONFIG_TRUSTED_EXECUTION_NONSECURE=y

CONFIG_GPIO=y
CONFIG_PWM=y

CONFIG_I2C=y
CONFIG_SPI=y


CONFIG_LED_NPM13XX=y
CONFIG_MFD=y
CONFIG_NRF_FUEL_GAUGE=y
CONFIG_MFD_NPM13XX=y
CONFIG_GPIO_NPM13XX=y
CONFIG_MFD_NPM13XX_INIT_PRIORITY=51
CONFIG_REGULATOR_NPM13XX_COMMON_INIT_PRIORITY=52
CONFIG_REGULATOR_NPM13XX_INIT_PRIORITY=53
CONFIG_INPUT_NPM13XX=y
CONFIG_INPUT_LONGPRESS=y
CONFIG_REGULATOR_NPM13XX=y
CONFIG_NPM13XX_CHARGER=y
CONFIG_INPUT=y

# CONFIG_MIPI_DBI_SPI=y
# CONFIG_DISPLAY=y
# CONFIG_SSD16XX=y