#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <dt-bindings/regulator/npm13xx.h>

/ {

    chosen {
        zephyr,display=&epd;
    };

    motor: zephyr,user {
        motor-gpios = <&gpio1 15 0>;
    };

    buttons {
        compatible = "gpio-keys";

        button_power: button-0 {
            gpios = <&gpio0 27 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Power button";
            zephyr,code = <INPUT_KEY_0>;
        };

        button_side_left: button-1 {
            gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Left side button";
            zephyr,code = <INPUT_KEY_1>;
        };

        button_side_right: button-2 {
            gpios = <&gpio0 30 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Right side button";
            zephyr,code = <INPUT_KEY_2>;
        };

        button_volume_up: button-3 {
            gpios = <&gpio1 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Volume up button";
            zephyr,code = <INPUT_KEY_3>;
        };

        button_volume_down: button-4 {
            gpios = <&gpio1 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Volume down button";
            zephyr,code = <INPUT_KEY_4>;
        };
    };

    mipi_dbi {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi1>;

        dc-gpios = <&gpio0  14 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;

        #address-cells = <1>;
        #size-cells = <0>;

        epd: ssd16xx@0 {
            status = "disabled";
            compatible = "gooddisplay,gdeh0154a07", "solomon,ssd1681";
            mipi-max-frequency = <4000000>;
            reg = <0>;
            width = <200>;
            height = <200>;

            busy-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;

            tssv = <0x80>;

            full {
                border-waveform = <0x05>;
            };

            partial {
                border-waveform = <0x3c>;
            };
        };
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&hfxo {
    load-capacitors = "internal";
    load-capacitance-femtofarad = <12000>;
};

&lfxo {
    load-capacitors = "internal";
    load-capacitance-picofarad = <7>;
};

&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
};

// &i2c1 {
    //     compatible = "nordic,nrf-twim";
    //     status = "okay";
    //     pinctrl-0 = <&i2c1_default>;
    //     pinctrl-1 = <&i2c1_sleep>;
    //     pinctrl-names = "default", "sleep";
    //     clock-frequency = <I2C_BITRATE_FAST>;

    //     npm1300_pmic: npm1300@6b {
        //         compatible = "nordic,npm1300";
        //         reg = <0x6b>;

        //         host-int-gpios = <&gpio0 31 0>;
        //         pmic-int-pin = <1>;

        //         npm1300_led: led-controller {
            //             compatible = "nordic,npm1300-led";

            //             nordic,led0-mode = "host";
            //             nordic,led1-mode = "error";
            //             nordic,led2-mode = "charging";
        //         };

        //         regulators {
            //             compatible = "nordic,npm1300-regulator";

            //             npm1300_buck1: BUCK1 {
                //                 status = "disabled";
            //             };

            //             npm1300_3v3: BUCK2 {
                //                 regulator-min-microvolt = <3300000>;
                //                 regulator-max-microvolt = <3300000>;
                //                 regulator-boot-on;
            //             };

            //             hall_pwr: LDO1 {

                //                 regulator-min-microvolt = <1800000>;
                //                 regulator-max-microvolt = <1800000>;
                //                 regulator-init-microvolt = <1800000>;
                //                 regulator-initial-mode = <NPM13XX_LDSW_MODE_LDO>;
                //                 regulator-boot-off;
            //             };

            //             npm1300_ldo2: LDO2 {
                //                 status = "disabled";
            //             };
        //         };
    //     };
// };